[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=vesta
Name=VESTA
Comment=Visualization for Electronic and STructural Analysis
Terminal=false
Categories=Education;Science;
